.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
  }

  &__main {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
    padding: 0 6px;
  }

  &__footer {
    display: none;
  }
}
