.resolution {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  padding: 12px;
  color: var(--color-text);
  background-color: var(--color-background);

  @media all and (width >= 375px) {
    display: none;
  }

  &__txt {
    line-height: 20px;
    text-align: center;
  }
}
