.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;

  &__count,
  &__new {
    padding: 12px 10px;
    font-weight: 700;
    white-space: nowrap;
  }

  &__new {
    color: var(--color-link);

    &:active {
      color: var(--color-link-active);
    }

    &:hover {
      color: var(--color-link-focus);
    }
  }
}
