.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__count,
  &__new {
    padding: 12px 10px;
    font-weight: 700;
    white-space: nowrap;
  }

  &__new {
    color: var(--color-link);
  }
}
