* {
  margin: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    scroll-behavior: auto !important;
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 1;
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  font: {
    family: "Open Sans";
    size: 15px;
  }
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:active {
    color: var(--color-link-active);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-border-focus);
    outline-offset: 2px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-border-focus);
    outline-offset: 2px;
  }
}
